In [9]:
 import matplotlib.pyplot as plt
 import seaborn as sns
 import pandas as pd

In [10]:
# 데이터 파일들이 저장된 경로
file_path = "drive/My Drive/Colab Notebooks/202006/pydata-book-2nd-edition/datasets/movielens/"
# movies.dat 파일의 컬럼 이름들
col_movies = ["movie_id", "title", "genres"]
# ratings.data 파일의 컬럼 이름들
col_ratings = ["user_id", "movie_id", "rating", "timestamp"]
# users.dat 파일의 컬럼 이름들
col_users = ["user_id", "gender", "age", "occupation", "zipcode"]

In [14]:
# ratings.data 파일을 읽어서 데이터 프레임 생성
ratings = pd.read_csv(file_path + "ratings.dat",
                      sep="::", header=None, names=col_ratings)
ratings.iloc[:5]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [16]:
# movies.dat 파일을 읽어서 데이터 프레임 생성
movies = pd.read_csv(file_path + "movies.dat",
                     sep="::", header=None, names=col_movies)
movies.iloc[:5]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [17]:
# users.dat 파일을 읽어서 데이터 프레임 생성
users = pd.read_csv(file_path + "users.dat",
                    sep="::", header=None, names=col_users)
users.iloc[:5]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

   user_id gender  age  occupation zipcode
0        1      F    1          10   48067
1        2      M   56          16   70072
2        3      M   25          15   55117
3        4      M   45           7   02460
4        5      M   25          20   55455

In [21]:
# ratings와 movies를 movie_id를 기준으로 합침(merge)
ratings_movies = pd.merge(ratings, movies, on="movie_id")
ratings_movies.iloc[:5]

   user_id  movie_id  ...                                   title  genres
0        1      1193  ...  One Flew Over the Cuckoo's Nest (1975)   Drama
1        2      1193  ...  One Flew Over the Cuckoo's Nest (1975)   Drama
2       12      1193  ...  One Flew Over the Cuckoo's Nest (1975)   Drama
3       15      1193  ...  One Flew Over the Cuckoo's Nest (1975)   Drama
4       17      1193  ...  One Flew Over the Cuckoo's Nest (1975)   Drama

[5 rows x 6 columns]

In [22]:
df = pd.merge(ratings_movies, users)
df.iloc[:5]

   user_id  movie_id  rating  timestamp  ... gender age occupation  zipcode
0        1      1193       5  978300760  ...      F   1         10    48067
1        1       661       3  978302109  ...      F   1         10    48067
2        1       914       3  978301968  ...      F   1         10    48067
3        1      3408       4  978300275  ...      F   1         10    48067
4        1      2355       5  978824291  ...      F   1         10    48067

[5 rows x 10 columns]

In [24]:
df.shape

(1000209, 10)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000209 entries, 0 to 1000208
Data columns (total 10 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   user_id     1000209 non-null  int64
 1   movie_id    1000209 non-null  int64
 2   rating      1000209 non-null  int64
 3   timestamp   1000209 non-null  int64
 4   title       1000209 non-null  object
 5   genres      1000209 non-null  object
 6   gender      1000209 non-null  object
 7   age         1000209 non-null  int64
 8   occupation  1000209 non-null  int64
 9   zipcode     1000209 non-null  object
dtypes: int64(6), object(4)
memory usage: 83.9+ MB

In [28]:
# 성별 영화 선호도
df.groupby(["title", "gender"])["rating"].mean()

title                                       gender
$1,000,000 Duck (1971)                      F         3.375000
                                            M         2.761905
'Night Mother (1986)                        F         3.388889
                                            M         3.352941
'Til There Was You (1997)                   F         2.675676
                                                        ...
Zero Kelvin (Kj�rlighetens kj�tere) (1995)  M         3.500000
Zeus and Roxanne (1997)                     F         2.777778
                                            M         2.357143
eXistenZ (1999)                             F         3.098592
                                            M         3.289086
Name: rating, Length: 7152, dtype: float64

In [31]:
mean_ratings = df.pivot_table(values="rating",
                              index="title",
                              columns="gender",
                              aggfunc="mean")
mean_ratings

gender                                             F         M
title
$1,000,000 Duck (1971)                      3.375000  2.761905
'Night Mother (1986)                        3.388889  3.352941
'Til There Was You (1997)                   2.675676  2.733333
'burbs, The (1989)                          2.793478  2.962085
...And Justice for All (1979)               3.828571  3.689024
...                                              ...       ...
Zed & Two Noughts, A (1985)                 3.500000  3.380952
Zero Effect (1998)                          3.864407  3.723140
Zero Kelvin (Kj�rlighetens kj�tere) (1995)       NaN  3.500000
Zeus and Roxanne (1997)                     2.777778  2.357143
eXistenZ (1999)                             3.098592  3.289086

[3706 rows x 2 columns]

In [37]:
# 여성들이 높은 평점을 준 영화 20위
mean_ratings.sort_values("F", ascending=False).iloc[:20]

gender                                                F         M
title
Clean Slate (Coup de Torchon) (1981)                5.0  3.857143
Ballad of Narayama, The (Narayama Bushiko) (1958)   5.0  3.428571
Raw Deal (1948)                                     5.0  3.307692
Bittersweet Motel (2000)                            5.0       NaN
Skipped Parts (2000)                                5.0  4.000000
Lamerica (1994)                                     5.0  4.666667
Gambler, The (A J�t�kos) (1997)                     5.0  3.166667
Brother, Can You Spare a Dime? (1975)               5.0  3.642857
Ayn Rand: A Sense of Life (1997)                    5.0  4.000000
24 7: Twenty Four Seven (1997)                      5.0  3.750000
Twice Upon a Yesterday (1998)                       5.0  3.222222
Woman of Paris, A (1923)                            5.0  2.428571
I Am Cuba (Soy Cuba/Ya Kuba) (1964)                 5.0  4.750000
Gate of Heavenly Peace, The (1995)                  5.0  5.000000
For the Moment (1994)                               5.0  3.000000
Country Life (1994)                                 5.0  2.000000
Prisoner of the Mountains (Kavkazsky Plennik) (...  5.0  3.692308
Other Side of Sunday, The (S�ndagsengler) (1996)    5.0  2.928571
Saltmen of Tibet, The (1997)                        5.0  3.571429
Big Combo, The (1955)                               5.0  3.600000

In [41]:
# df에서 영화 제목들의 빈도수
df["title"].value_counts()

American Beauty (1999)                                   3428
Star Wars: Episode IV - A New Hope (1977)                2991
Star Wars: Episode V - The Empire Strikes Back (1980)    2990
Star Wars: Episode VI - Return of the Jedi (1983)        2883
Jurassic Park (1993)                                     2672
                                                         ...
Song of Freedom (1936)                                      1
Chain of Fools (2000)                                       1
Ring, The (1927)                                            1
Telling You (1998)                                          1
Choices (1981)                                              1
Name: title, Length: 3706, dtype: int64

In [42]:
df["title"].value_counts().describe()

count    3706.000000
mean      269.889099
std       384.047838
min         1.000000
25%        33.000000
50%       123.500000
75%       350.000000
max      3428.000000
Name: title, dtype: float64

In [ ]:
# 250건 이상의 평점을 받은 영화들 중에서 남/녀 선호도 차이
title_count = df["title"].value_counts()
active_titles = title_count[title_count >= 250]   # boolean indexing
active_titles = active_titles.index

In [ ]:
mean_ratings.loc[active_titles, :].sort_values("F", ascending=False).iloc[:20]